@import 'helpers';
@import 'font-sizes';


@mixin inner(){
    margin: auto;
    @media screen and (min-width : $medium){
        $map : ($medium :250px ,$large : 300px);
        @include poly-fluid-sizing('font-size',$map);
        max-width: calc(2em + 1 * 50px);
    }
    @media screen and (min-width : $large){
        $map : ($large :250px ,1920px : 300px);
        @include poly-fluid-sizing('font-size',$map);
        max-width: calc(3em + 2 * 50px);
    }
}


@mixin long-shadow(){
    box-shadow:  0 20px 20px 0px rgba(130, 136, 159, .18) ;
}
@mixin medium-shadow(){
    box-shadow:  0 -3px 20px 0px rgba(130, 136, 159, .10), 0 20px 20px 0px rgba(130, 136, 159, .15) ;
}
@mixin card(){
    background-color: $color-white;
    position: relative;
    border-radius: 6px;
    will-change: transform, shadow;
    overflow: hidden;
    @include long-shadow();
}
@mixin card--hover{
    @include card();
    transition: transform .5s ease, box-shadow .5s ease;
    will-change: transform, shadow;
    @media screen and (min-width : $medium){
        &:hover{
        transform: translateY(-20px);
        box-shadow: 0 50px 30px rgba(130, 136, 159, .18),
                        0 30px 40px -20px rgba(130, 136, 159, .18);
        }
    }
}



@mixin loader{
    position: relative;
    overflow: hidden;
    background: #f6f7f8;
    &.loaded{
        &:before{
          display: none;
        }
    }
    &.inline{
        border-radius: 1rem;
    }
    &.l-10{
        width: 10%;
    }
    &.h-10{
        height: 10rem;
    }
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation-name: loader-anim;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        background-size: 100vw 100%;
        background-repeat: no-repeat;
        z-index: 0;
        background-image: linear-gradient(90deg,rgba(#ebeef0,0),#cdd6db);
    }
}


@mixin text(){
    @media screen and (min-width : $medium){
        margin: 0 0 50px 0;
    }
    min-width: 100%;
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    &.edit{
        border-top: 1px solid $color-light-grey;
        border-bottom: 1px solid $color-light-grey;
    }
    .is-empty{
        margin-top: 30px;
    }
    h2{
        @include heading-large();
        &:first-of-type{
            margin-top: 0.8em;
        }
        margin-top: 2em;
        margin-bottom: 0.5em;
    }   
    h3{
        @include heading-medium();
        margin-top: 0.25em;
        margin-bottom: 0.5em;
    }
    h4{
        @include heading-small();
        margin-top: 0.25em;
        margin-bottom: 1em;
    }
    p{
        @include text-medium();
        margin-bottom: 1em;
    }
    & > ul {

        & > li {
            position: relative;
            margin: 0 0 0 7rem;
            padding: 0 0 0 40px;
            margin: 4px 0;
            font-size: 4.5rem;
            &:before{
     
                position: absolute;
               
                counter-increment: ol;
                content: '';
                display: inline;
                background: $color-dark-blue;
                color: $color-white;
                border-radius: 4px;
                height: 10px;
                width: 10px;
                top: 0.6em;
                left:1em;
                text-align: center;
                line-height: 25px;
            }
            p{
                margin: 0;
            }
        }
    }
    & > ol {

        counter-reset: ol;
        & > li {
            font-size: 4.5rem;
            position: relative;
            margin: 0 0 0 7rem;
            padding: 0 0 0 50px;
            margin: 10px 0;
            &:before{
                top: 0.2em;
                left:10px;
                position: absolute;
               
                counter-increment: ol;
                content: counter(ol);
                display: inline;
                background: $color-dark-blue;
                color: $color-white;
                border-radius: 4px;
                height: 25px;
                width:25px;
                text-align: center;
                line-height: 25px;
            }
            p{
                margin: 0;
            }
        }
    }
    hr{
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border : none;
        margin: 80px 0 50px 0;
    }
    .box-image{
        @include aspect(1.5 1);
        &.classic{
            @include aspect(1.5 1);
        }
        &.long{
            @include aspect(2 1);
        }
        &.tall{
            @include aspect(1.2 1);
        }
        &.square{
            @include aspect(1 1);
        }
        
        overflow: hidden;
        @media screen and (min-width : $medium){
            @include aspect(2.3 1);
            border-radius: 1rem
        }
        & img{
            @include full-absolute();
        }
    }
    figure{
        position: relative;
        overflow: visible;
        margin: 50px 0;
        & .alt{
            position: absolute;
            bottom:0;
            left: 50%;
            width: 100%;
            transform: translate(-50%,2em);
            font-size: 4rem;
            transition: all .2s ease;
            @media screen and (min-width : $medium){
                opacity: 0;
                font-size: 3.6rem;
            }
        }
        &:hover .alt{
            opacity: 1;
        }
        
    }
    pre {
        display: flex;
        position: relative;
        padding: 8rem 8rem 6rem;
        background: $color-dark-blue;
        color: $color-white;
        overflow-x: auto;
        margin: 30px 0;
        font-size: 3.5rem;
        overflow: scroll;
        max-width: 100%;
        @media screen and (min-width : $medium){
            border-radius: 1rem;
        }
        &:before{
            position: absolute;
            z-index: 999;
            content: '';
            display: block;
            top: 2rem;
            left: 2rem;
            margin: 10px 0 5px 12px;
            background: #EA2B58;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            box-shadow:  20px 0 0px 0px #FEB063 , 40px 0 0px 0px #A9AEC4;
        }
       
    }
    p code {
        display: inline-block;
        padding: 0 0.4rem;
        border-radius: 5px;
        font-size: 0.8rem;
        font-weight: bold;
        background: rgba($color-black, 0.1);
        color: rgba($color-black, 0.8);
    }
    blockquote {
        border-left: 3px solid rgba($color-accent,0.8);
        color: rgba($color-accent, 0.8);
        font-family: $hk;
        font-size: 4.5rem;
        padding-left: 0.8rem;
        font-style: italic;
        font-weight: 800;
        margin: 40px 0 40px;
        p {
          margin: 0;
          font-family: $hk;
          color: rgba($color-accent, 1);
        }
    }
    u{
        text-underline-position : initial;
    }
    .full{
        position: relative;
        margin: 30px 0;
        position: relative;
        max-height : 400px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    b,strong{
        color: $color-dark-blue;
        font-weight: 900;
    }
    a{
        font-family:  'lora';
        color: $color-dark-blue;
        border-bottom: 4px solid rgba($color-accent,0.3);
        transition: all .3s ease;
        &:hover{
            border-bottom: 4px solid rgba($color-accent,0.5);
            background-color: rgba($color-accent,0.2);
        }
    }
    & > h2,
    & > h3,
    & > h4,
    & > blockquote,
    & > ul,
    & > ol,
    & > p{
        margin-left : $margin-mobile;
        margin-right: $margin-mobile;
        @media screen and (min-width : $medium){
            margin-left : 0;
            margin-right: 0;
        }
        @media screen and (min-width : $large){
            margin-left : 50px;
            margin-right: 50px;
        }
    }
}
