
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #dddddd;

$color-dark-blue : #081B2C;
$color-medium-grey : #D0D4E2;
$color-light-grey : #F1F2F7;
$color-dimmed-grey : #5E6273;
$color-accent : #EE0051;

